---
import Layout from '../layouts/BlogPost.astro';
---


<Layout
title="About Me"
description="Security research, unintended behavior, and devices that really should know better"
pubDate={new Date('August 08 2021')}
heroImage="/blog-placeholder-about.jpg"
>
<p>
Welcome, unfortunate observer. This is the part where I'm supposed to sound professional,
inspirational, or at least socially functional. Instead, here's the honest version:
I break machines for fun, insult their engineering choices, and then pretend it was
"research" when something explodes in a log file.
</p>


<p>
My background is a stylish collage of RF experiments gone wrong, firmware that
absolutely did not want to be dumped, and network topologies that look like they
were designed by a caffeinated spider. If it can be reverse engineered,
decompiled, misconfigured, or coaxed into revealing a secret, I'm already poking it
with a screwdriver I definitely shouldn't be using on electronics.
</p>


<p>
Most of my "methodology" could be described as: build something over-engineered,
secure it to the point of paranoia, accidentally expose a port to the entire
internet, panic, patch it, then write a smug post pretending the chaos was part of
the plan. It never is. The plan is a myth.
</p>


<p>
My home lab is a cryptid. Cables everywhere, blinking lights, services that exist
only because I forgot to delete them, and at least one MikroTik that I swear is
running scripts I didn't write. Every time I check Netdata, something new is on fire
and I just nod like "yes, this is normal."
</p>


<p>
If you're looking for a polished personal brand, you're lost. If you're here for
aggressive curiosity, accidental brilliance, security mishaps narrated with too much
confidence, and hardware that fears me, then congratulations: you're home.
</p>
</Layout>
